body {
  margin-top: 0;
  margin-right: 34.75px;
  margin-left: 34.75px;
}
/* set fonts */

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 600;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}


P {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/* Nav Style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    width: 86px;
    padding: 0;
}

.navLinksDiv {
    flex: 1;
    text-align: right;
}

.navLinksDiv ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;   
    padding-top: 30px;
}

.navLinksDiv ul li a {
    color:black;
    text-decoration: none;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
}

.navLinksDiv ul li a:hover {
    content: "";
    width: 100%;
    color: #0065FC;
    display: block;
    margin: 0;
}

.navLinksDiv li:hover {
    border-top: #0065FC;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #0065FC;
}

/* filters */

.filterTitleSpan {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.filtersButton {
    height: 32px;
    padding: 0;
    background: white;
    outline: none;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: #F2F2F2;
    overflow: hidden;
    font-family: 'raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.button__text {
    display: inline-flex;
    align-items: center;
    padding: 0px 8px;
    color: black;
    height: 100%;
}

.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    font-size: 1em;
    border-radius: 20px;
    background-color: #DEEBFF; 
    color: #0065FC;
}

.fa-info {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    height: 100%;
    font-size: 1em;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: #F2F2F2;
    background-color: white; 
    color: #0065FC;
}

.accomodationSpan {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/* search functionality */

.searchBoxContainer {
    width: 261px;
    height: 35px;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.infoIconWrapper {
    height: 35px;
    flex-basis:  36px; 
    padding-left: 16px;
    padding-right: 16px;
    background-color: #F2F2F2;
}

.searchPlaceholder {
    height: 35px;
    flex-basis: 161px;
    background-color: white;
    outline: none;
    border: none;
    font-family: raleway;
    font-weight: 600;
    padding-left: 10px;
    padding-right: none;
    overflow: hidden;
}

.searchButton {
    background-color: #0065FC;
    border: none;
    outline: none;
    color: white;
    height: 36px;
    flex-basis: 65px;
    
}

@media screen and (min-width:768px) and (max-width:991px) {
    /* some code */
}


@media screen and (max-width:766px) {
    body{
        margin-top: 28px;
        margin-left: 21px;
        margin-right: 21px;
        max-width: fit-content;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 131px;
    }

    .logoDiv {
        display: flex;
        width: 100%; 
        height: 95px; 
        align-items: center;
        align-content: center;
        justify-content: center;  
    }
    
    .logo {
        padding: 40px;
        width: 124px;
    }

    .navLinksDiv {
        text-align: center;
    }

    .navLinksDiv ul li {
        list-style: none;
        display: inline-block;
        padding: 20px;
        position: relative;   
        padding-top: 0px;
    }
    
    ul {
        padding-inline-start: 0px;
    }

    .navLinksDiv ul li:hover {
        border-top: none;
        border-top-width: none;
        border-top-style: none;
        border-top-color: none;;
    }

    .navLinksDiv ul li a:active ::before {
        content: "";
        width: 100%;
        color:#F2F2F2;
        display: block;
        margin: 0;
        border-top: #F2F2F2;
        border-top-width: 100%px;
        border-top-style: solid;
    }

    .navLinksDiv ul li a:active ::after {
        content: "";
        width: 100%;
        color: #0065FC;
        display: block;
        margin: 0;
        border-top:#0065FC;
        border-top-width: 100%px;
        border-top-style: solid;
    }
}